polygon {
    fill: gray;
}

text {
    font-size: 12px;
    text-anchor: middle;
}

svg.edit {
    cursor: grab;
    cursor: -webkit-grab;
}

svg.link, svg.link * {
    cursor: crosshair !important;
}

#text {
    font-size: 12px;
    position: fixed;
    left: -1000px;
    visibility: hidden;
}

.shape {
    pointer-events: all;
    cursor: pointer;
}

.shape circle, .shape rect {
    fill: #0083ce;
    stroke: #fff;
    stroke-width: 1px;
}

.shape.hover circle, .shape.hover rect, .shape.active circle, .shape.active rect {
    fill: #66c484;
}

.shape.move circle, .shape.move rect {
    opacity: 0.5;
}

.tmp-line {
    stroke: #fff;
    stroke-width: 1px;
    stroke-dasharray: 3;
    opacity: 0;
}

.tmp-line.active {
    opacity: 1;
}

.action {
    margin-bottom: 10px;
}

.layout {
    background: radial-gradient(50% 50%, #2065ac, #1c385e);
}
