.flow.edit {
    cursor: grab;
    cursor: -webkit-grab;
}

.flow.link,
.flow.link * {
    cursor: crosshair !important;
}

.flow text {
    font-size: 12px;
    text-anchor: middle;
}

.flow .flow-icon {
    font-family: 'Glyphicons Halflings';
}

.flow .flow-marker {
    fill: #c0c0c0;
}

.flow .flow-marker-hover {
    fill: #9c9c9c;
}

.flow .flow-marker-active {
    fill: #167be0;
}

.flow .flow-shape {
    cursor: pointer;
}

.flow .flow-shape .flow-action-layout {
    fill: rgba(0, 0, 0, 0.3);
    stroke-width: 0;
    transition: opacity .2s;
    opacity: 0;
}

.flow .flow-shape:hover .flow-action-layout {
    opacity: 1;
}

.flow .flow-shape .flow-action-layout text {
    fill: red;
}

.flow .flow-auxiliary {
    stroke: #fff;
    stroke-width: 1px;
    stroke-dasharray: 3;
    opacity: 0;
}

.flow .flow-auxiliary.active {
    opacity: 1;
}

.flow .task {
    fill: #0083ce;
    stroke: #fff;
    stroke-width: 1px;
}

.flow .task:hover,
.flow .task.active {
    fill: #66c484;
}

.flow .task.move {
    opacity: 0.5;
}

.flow .condition {
    fill: none;
    stroke: #c0c0c0;
    stroke-width: 1px;
}

.flow .condition .bg {
    stroke: transparent;
    stroke-width: 10px;
}

.flow .condition:hover {
    stroke: #9c9c9c;
}

.flow .condition.active {
    stroke: #167be0;
}

.layout {
    background: radial-gradient(50% 50%, #2065ac, #1c385e);
}

#text {
    font-size: 12px;
    position: fixed;
    left: -1000px;
    visibility: hidden;
}

.form-inline {
    margin-bottom: 10px;
}

.form-inline .form-group {
    margin-right: 10px;
}

.form-inline label {
    margin: 0 5px;
}